<a href="https://colab.research.google.com/github/adamazanos/using_nltkvader_to_make-labeling/blob/main/Using_NLTK_vader_to_make_labeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The objective of this project is to label data using instructions from

 https://thecleverprogrammer.com/2021/11/24/add-labels-to-a-dataset-for-sentiment-analysis/. 

In this project, we will use the NLTK Vader library to calculate the compound score.

#01. Download the library and import the data

In [1]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download("vader_lexicon")
import pandas as pd
# data = pd.read_excel("https://raw.github.com/phik753/dataset/blob/master/dataset/merge_11_cabang.xlsx")
data = pd.read_excel("https://raw.githubusercontent.com/phik753/dataset/master/dataset/merge_11_cabang.xlsx")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ACER\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

# Translate dataset

In [4]:
# Import library
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd
from googletrans import Translator  # Library untuk menerjemahkan teks

# Download VADER lexicon
nltk.download("vader_lexicon")

# Load dataset
# data = pd.read_excel("https://raw.githubusercontent.com/phik753/dataset/main/merge_11_cabang.xlsx")
data = data.dropna()  # Hapus baris dengan nilai kosong
print("Dataset awal:")
print(data.head())

# Terjemahkan kolom teks ke Bahasa Inggris
translator = Translator()

# Fungsi untuk menerjemahkan teks
def translate_text(text):
    try:
        return translator.translate(text, src="id", dest="en").text
    except Exception as e:
        print(f"Error saat menerjemahkan: {text}, {e}")
        return text

# Lakukan terjemahan untuk setiap baris di kolom teks (misal kolom bernama "snippet")
data["snippet_en"] = data["snippet"].apply(translate_text)
print("Dataset setelah terjemahan:")
print(data[["snippet", "snippet_en"]].head())

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\ACER\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

Dataset awal:
         Source.Name           user_name  rating  \
0  reviews_bogo.xlsx       Lucky Rivanto       5
1  reviews_bogo.xlsx  Novita Catur putri       5
2  reviews_bogo.xlsx       aditiya risky       5
3  reviews_bogo.xlsx          Fita Julia       5
4  reviews_bogo.xlsx      M.choirul arif       5

                                             snippet          date  \
0                                                 Ok  7 months ago
1                                             Nice ü§ó   2 years ago
2                              very friendly service   2 years ago
3                                        Very good‚ô•Ô∏è   2 years ago
4  Harga lmyan terjangkau, tempatnya bersih ada p...  6 months ago

             iso_date iso_date_of_last_edit
0 2024-03-18 09:57:31   2024-03-18 09:57:31
1 2022-07-07 11:04:13   2022-07-07 11:04:13
2 2022-09-25 20:13:30   2022-09-25 20:13:30
3 2022-07-07 12:59:32   2022-07-07 12:59:32
4 2024-05-01 17:00:28   2024-05-01 17:00:28
Error saat menerjemahkan: Tempat nya cocok untuk kumpul bareng temen&keluarga...harganya juga pas dikantong, _ssl.c:983: The handshake operation timed out
Error saat menerjemahkan: Tempatnya bagus. Makanan super lezaat. Apalagi gepreknya aku sukaa banget üòÅ, _ssl.c:983: The handshake operation timed out
Dataset setelah terjemahan:
                                             snippet  \
0                                                 Ok
1                                             Nice ü§ó
2                              very friendly service
3                                        Very good‚ô•Ô∏è
4  Harga lmyan terjangkau, tempatnya bersih ada p...

                                          snippet_en
0                                                 Ok
1                                             Nice ü§ó
2                              very friendly service
3                                      Very Good ‚ô• Ô∏è
4  The price of LMYAN is affordable, the place is...

##01.a Examine the data

In [5]:
data

,Source.Name,user_name,rating,snippet,date,iso_date,iso_date_of_last_edit,snippet_en
0,reviews_bogo.xlsx,Lucky Rivanto,5,Ok,7 months ago,2024-03-18 09:57:31,2024-03-18 09:57:31,Ok
1,reviews_bogo.xlsx,Novita Catur putri,5,Nice ü§ó,2 years ago,2022-07-07 11:04:13,2022-07-07 11:04:13,Nice ü§ó
2,reviews_bogo.xlsx,aditiya risky,5,very friendly service,2 years ago,2022-09-25 20:13:30,2022-09-25 20:13:30,very friendly service
3,reviews_bogo.xlsx,Fita Julia,5,Very good‚ô•Ô∏è,2 years ago,2022-07-07 12:59:32,2022-07-07 12:59:32,Very Good ‚ô• Ô∏è
4,reviews_bogo.xlsx,M.choirul arif,5,"Harga lmyan terjangkau, tempatnya bersih ada p...",6 months ago,2024-05-01 17:00:28,2024-05-01 17:00:28,"The price of LMYAN is affordable, the place is..."
...,...,...,...,...,...,...,...,...
1025,reviews_warujayeng.xlsx,novia Bima873,4,Harga mumer dan terFavüëå,2 years ago,2022-10-24 09:48:00,2022-10-24 09:48:00,MUMER AND Most Favorite Prices
1026,reviews_warujayeng.xlsx,anam syafiil,5,Mantab Jaya,a year ago,2023-06-19 22:49:36,2023-06-19 22:49:36,Mantab Jaya
1027,reviews_warujayeng.xlsx,Septian Tian,5,Bagus,2 years ago,2022-10-23 14:09:20,2022-10-23 14:09:20,Good
1031,reviews_warujayeng.xlsx,Ahmad Sulaiman,5,Masoookk dekk,2 years ago,2022-08-23 14:19:56,2022-08-23 14:19:56,Masoookk Dekk
1043,reviews_warujayeng.xlsx,Dewi Anggraini,5,"Tempatnya nyaman, bersih, luas, makanannya jug...",5 days ago,2024-11-03 13:09:57,2024-11-03 13:43:08,"The place is comfortable, clean, spacious, the..."

In [6]:
data = data.dropna() #fast way to drop all null data
print(data.head())

         Source.Name           user_name  rating  \
0  reviews_bogo.xlsx       Lucky Rivanto       5
1  reviews_bogo.xlsx  Novita Catur putri       5
2  reviews_bogo.xlsx       aditiya risky       5
3  reviews_bogo.xlsx          Fita Julia       5
4  reviews_bogo.xlsx      M.choirul arif       5

                                             snippet          date  \
0                                                 Ok  7 months ago
1                                             Nice ü§ó   2 years ago
2                              very friendly service   2 years ago
3                                        Very good‚ô•Ô∏è   2 years ago
4  Harga lmyan terjangkau, tempatnya bersih ada p...  6 months ago

             iso_date iso_date_of_last_edit  \
0 2024-03-18 09:57:31   2024-03-18 09:57:31
1 2022-07-07 11:04:13   2022-07-07 11:04:13
2 2022-09-25 20:13:30   2022-09-25 20:13:30
3 2022-07-07 12:59:32   2022-07-07 12:59:32
4 2024-05-01 17:00:28   2024-05-01 17:00:28

                                          snippet_en
0                                                 Ok
1                                             Nice ü§ó
2                              very friendly service
3                                      Very Good ‚ô• Ô∏è
4  The price of LMYAN is affordable, the place is...

#02. Use SentimentIntensityAnalyzer

In [7]:
sentiments = SentimentIntensityAnalyzer()
data["Positive"] = [sentiments.polarity_scores(i)["pos"] for i in data["snippet_en"]]
data["Negative"] = [sentiments.polarity_scores(i)["neg"] for i in data["snippet_en"]]
data["Neutral"] = [sentiments.polarity_scores(i)["neu"] for i in data["snippet_en"]]
data['Compound'] = [sentiments.polarity_scores(i)["compound"] for i in data["snippet_en"]]

##02.a Check the data output

In [8]:
data

,Source.Name,user_name,rating,snippet,date,iso_date,iso_date_of_last_edit,snippet_en,Positive,Negative,Neutral,Compound
0,reviews_bogo.xlsx,Lucky Rivanto,5,Ok,7 months ago,2024-03-18 09:57:31,2024-03-18 09:57:31,Ok,1.000,0.0,0.000,0.2960
1,reviews_bogo.xlsx,Novita Catur putri,5,Nice ü§ó,2 years ago,2022-07-07 11:04:13,2022-07-07 11:04:13,Nice ü§ó,1.000,0.0,0.000,0.4215
2,reviews_bogo.xlsx,aditiya risky,5,very friendly service,2 years ago,2022-09-25 20:13:30,2022-09-25 20:13:30,very friendly service,0.636,0.0,0.364,0.5413
3,reviews_bogo.xlsx,Fita Julia,5,Very good‚ô•Ô∏è,2 years ago,2022-07-07 12:59:32,2022-07-07 12:59:32,Very Good ‚ô• Ô∏è,0.762,0.0,0.238,0.4927
4,reviews_bogo.xlsx,M.choirul arif,5,"Harga lmyan terjangkau, tempatnya bersih ada p...",6 months ago,2024-05-01 17:00:28,2024-05-01 17:00:28,"The price of LMYAN is affordable, the place is...",0.197,0.0,0.803,0.7096
...,...,...,...,...,...,...,...,...,...,...,...,...
1025,reviews_warujayeng.xlsx,novia Bima873,4,Harga mumer dan terFavüëå,2 years ago,2022-10-24 09:48:00,2022-10-24 09:48:00,MUMER AND Most Favorite Prices,0.452,0.0,0.548,0.5095
1026,reviews_warujayeng.xlsx,anam syafiil,5,Mantab Jaya,a year ago,2023-06-19 22:49:36,2023-06-19 22:49:36,Mantab Jaya,0.000,0.0,1.000,0.0000
1027,reviews_warujayeng.xlsx,Septian Tian,5,Bagus,2 years ago,2022-10-23 14:09:20,2022-10-23 14:09:20,Good,1.000,0.0,0.000,0.4404
1031,reviews_warujayeng.xlsx,Ahmad Sulaiman,5,Masoookk dekk,2 years ago,2022-08-23 14:19:56,2022-08-23 14:19:56,Masoookk Dekk,0.000,0.0,1.000,0.0000
1043,reviews_warujayeng.xlsx,Dewi Anggraini,5,"Tempatnya nyaman, bersih, luas, makanannya jug...",5 days ago,2024-11-03 13:09:57,2024-11-03 13:43:08,"The place is comfortable, clean, spacious, the...",0.556,0.0,0.444,0.8826

#03. Make the Sentiment value based on compound score

In [9]:
score = data["Compound"].values
sentiment = []
for i in score:
    if i >= 0.05 :
        sentiment.append('Positive')
    elif i <= -0.05 :
        sentiment.append('Negative')
    else:
        sentiment.append('Neutral')
data["Sentiment"] = sentiment
data

,Source.Name,user_name,rating,snippet,date,iso_date,iso_date_of_last_edit,snippet_en,Positive,Negative,Neutral,Compound,Sentiment
0,reviews_bogo.xlsx,Lucky Rivanto,5,Ok,7 months ago,2024-03-18 09:57:31,2024-03-18 09:57:31,Ok,1.000,0.0,0.000,0.2960,Positive
1,reviews_bogo.xlsx,Novita Catur putri,5,Nice ü§ó,2 years ago,2022-07-07 11:04:13,2022-07-07 11:04:13,Nice ü§ó,1.000,0.0,0.000,0.4215,Positive
2,reviews_bogo.xlsx,aditiya risky,5,very friendly service,2 years ago,2022-09-25 20:13:30,2022-09-25 20:13:30,very friendly service,0.636,0.0,0.364,0.5413,Positive
3,reviews_bogo.xlsx,Fita Julia,5,Very good‚ô•Ô∏è,2 years ago,2022-07-07 12:59:32,2022-07-07 12:59:32,Very Good ‚ô• Ô∏è,0.762,0.0,0.238,0.4927,Positive
4,reviews_bogo.xlsx,M.choirul arif,5,"Harga lmyan terjangkau, tempatnya bersih ada p...",6 months ago,2024-05-01 17:00:28,2024-05-01 17:00:28,"The price of LMYAN is affordable, the place is...",0.197,0.0,0.803,0.7096,Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,reviews_warujayeng.xlsx,novia Bima873,4,Harga mumer dan terFavüëå,2 years ago,2022-10-24 09:48:00,2022-10-24 09:48:00,MUMER AND Most Favorite Prices,0.452,0.0,0.548,0.5095,Positive
1026,reviews_warujayeng.xlsx,anam syafiil,5,Mantab Jaya,a year ago,2023-06-19 22:49:36,2023-06-19 22:49:36,Mantab Jaya,0.000,0.0,1.000,0.0000,Neutral
1027,reviews_warujayeng.xlsx,Septian Tian,5,Bagus,2 years ago,2022-10-23 14:09:20,2022-10-23 14:09:20,Good,1.000,0.0,0.000,0.4404,Positive
1031,reviews_warujayeng.xlsx,Ahmad Sulaiman,5,Masoookk dekk,2 years ago,2022-08-23 14:19:56,2022-08-23 14:19:56,Masoookk Dekk,0.000,0.0,1.000,0.0000,Neutral
1043,reviews_warujayeng.xlsx,Dewi Anggraini,5,"Tempatnya nyaman, bersih, luas, makanannya jug...",5 days ago,2024-11-03 13:09:57,2024-11-03 13:43:08,"The place is comfortable, clean, spacious, the...",0.556,0.0,0.444,0.8826,Positive

##02.a Count how many sentiment is ready

In [10]:
print(data["Sentiment"].value_counts())

Sentiment
Positive    662
Neutral      66
Negative     34
Name: count, dtype: int64

#Conclusion 

We can use the compound score to make predictions and label the original dataset. This step is crucial in creating training data.